<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="title">List Glues</h3>
      </div>
      <div class="card-body table-responsive">
        <div class="btn-group pb-3">
          <button type="button" (click)="openGlueModalComponent()" class="btn btn-success">Add</button>
        </div>
        <!-- <div class="btn-group pb-3">
          <button type="button" (click)="printBarcode()" *ngIf="!show" class="btn btn-success">Print Barcode</button>
        </div> -->
        <div class="btn-group pb-3">
          <button type="button" (click)="backList()" *ngIf="show" class="btn btn-success">Back List</button>
        </div>
        <div class="control-section">
          <ejs-grid #grid [dataSource]='glues' (rowSelected)="rowSelected($event)" (dataBound)="dataBound($event)" allowPaging='true' [pageSettings]='pageSettings' [editSettings]='editSettings' [toolbar]='toolbar'>
            <e-columns>
              <e-column field='id' headerText='Order ID' textAlign='Right' width=120></e-column>
              <e-column field='code' headerText='Customer ID' width=140></e-column>
              <e-column field='name' headerText='Freight' textAlign='Right' width=120></e-column>
              <e-column field='createdDate' headerText='Order Date' textAlign='Right' format='yMd' width=140></e-column>
          </e-columns>
          </ejs-grid>
      </div>
      
        <br>
        <hr>
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of glues; let i= index" (click)='onClickGlue($event, item)'>
              <td scope="row">{{ (paginationG.currentPage - 1) * paginationG.itemsPerPage + i + 1 }}</td>
              <td>{{item.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <ngb-pagination (pageChange)="onPageChange($event)" [collectionSize]="paginationG.totalItems"
          [directionLinks]='true' [(page)]="paginationG.currentPage" [pageSize]='paginationG.itemsPerPage' [maxSize]="5"
          [rotate]="true" [boundaryLinks]="true"></ngb-pagination>

      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="title">List Ingredients</h3>
      </div>
      <div class="card-body">
        <p>abc</p>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Percentage</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of ingredients; let i= index">
              <td scope="row">{{ (paginationI.currentPage - 1) * paginationI.itemsPerPage + i + 1 }}</td>
              <td>
                <ejs-switch onLabel="ON" offLabel="OFF"  (change)='onOff($event, item)' [checked]="item.status"></ejs-switch>
                {{item.name}}
              </td>
              <td>
                {{item.percentage}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <ngb-pagination (pageChange)="onPageChangeI($event)" [collectionSize]="paginationI.totalItems"
          [directionLinks]='true' [(page)]="paginationI.currentPage" [pageSize]='paginationI.itemsPerPage' [maxSize]="5"
          [rotate]="true" [boundaryLinks]="true"></ngb-pagination>

      </div>
    </div>
  </div>
</div>